:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --very-light-grey: #f0f0f0;
  --active-link-color: #489c79;
  --visited-link-color: #05676e;
  --font-weight-title: 700;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  color: var(--dark-grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: auto 0;
}

h1 {
  font-size: 30px;
  font-weight: var(--font-weight-title);
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight-title);
}

h3 {
  font-size: 18px;
  font-weight: var(--font-weight-title);
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--visited-link-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--active-link-color);
}

.about-table__item {
  padding: 5px;
  background-color: var(--very-light-grey);
}

.about-table__head {
  font-weight: bold;
}

.index-body__blue-span {
  color: blue;
  background-color: lightgrey;
  padding-left: 3px;
}

.index-body__white-span {
  color: white;
  background-color: lightgrey;
}

.index-body__red-span {
  color: red;
  background-color: lightgrey;
  padding-right: 3px;
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid var(--very-light-grey);
  transition: 0.2s opacity, 0.2s font-size;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  font-size: 17px;
}

button:visited,
.button:visited {
  color: white;
}

a.navigation-list__item {
  color: white;
}

.navigation-list__item--active {
  text-decoration: none;
}

#header-logo {
  max-width: 200px;
  max-height: 70px;
  border-radius: 40%;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.main-about__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.main-about__item {
  margin-bottom: 50px;
}

* {
  box-sizing: border-box;
}

.contact-page__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  margin: 20px;
  min-height: 280px;
  min-width: 280px;
}

#contact-message {
  min-height: 100px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: var(--primary-color);
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* grid fallback */

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .grid__item {
    background-color: var(--very-light-grey);
    width: auto;
    min-height: auto;
    padding: 10px;
  }
}

@keyframes color-change-sun {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change-sun;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 20s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation-duration: 30s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change-windows {
  from {
    fill: #67c2e2;
  }

  to {
    fill: #ffffe0;
  }
}

.bottom-right-window-large {
  animation: 10s color-change-windows infinite alternate linear;
}

.top-right-window-small-1 {
  animation: 5s color-change-windows infinite alternate linear;
}

.middle-right-window-small-1 {
  animation: 3s color-change-windows infinite alternate linear;
}

.middle-left-window-small-1 {
  animation: 6s color-change-windows infinite alternate linear;
}

.top-left-window-large {
  animation: 12s color-change-windows infinite alternate linear;
}

.page-body {
  margin: 10px;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  h1 {
    font-size: 22px;
  }

  .berlin-illustration {
    max-width: 500px;
    max-height: 350px;
  }

  .main-about__item {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 500px) {
  .berlin-illustration {
    max-width: 350px;
    max-height: 200px;
  }

  #header-logo {
    max-width: 125px;
    max-height: 44px;
  }

  .profile__portrait {
    float: none;
    width: 200px;
    margin: 0 auto;
    border-radius: 50%;
  }

  .profile {
    text-align: center;
    padding: 20px;
  }
}
