body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.6;
  color: #2b2b2b;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main_page_breaks { 
  display: block;
  margin-top: 5rem;
  margin-bottom: 3.5rem;
  width: 50%;
  border-style: inset;
  border-width: 1px;
}

main {
  margin: auto 0;
}

h1 {
  font-size: 38px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 26px;
  font-weight: 700;
}

a {
  color: #357b70;
}

a:visited {
  color: #05676e;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #489c79;
}

#about {
  color: white;
}

.about-table__item {
  padding: 5px;
  background-color: #f0f0f0;
}

.about-table__head {
  font-weight: bold;
}

.index-body__blue-span {
  color: white;
  background-color: blue;
  padding-left: 3px;
}

.index-body__white-span {
  color: black;
  background-color: white;
}

.index-body__red-span {
  color: white;
  background-color: #e00;
  padding-right: 3px;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #f0f0f0;
  -webkit-transition: 0.2s opacity, 0.2s font-size;
  -o-transition: 0.2s opacity, 0.2s font-size;
  transition: 0.2s opacity, 0.2s font-size;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #f0f0f0;
  -webkit-transition: 0.2s opacity, 0.2s font-size;
  -o-transition: 0.2s opacity, 0.2s font-size;
  transition: 0.2s opacity, 0.2s font-size;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  font-size: 25px;
}

button:visited,
.button:visited {
  color: white;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

#my-work {
  text-align: center;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #357b70;
  color: white;
}

.profile {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.profile-bio {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.profile_desc {
  max-width: 700px;
}

.berlin_image {
  margin-top: 40px;
  text-align: center;
}

@media all and (max-width: 1000px) {
  .profile-bio {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .profile_image {
    display: flex;
    justify-content: center;
  }

  .profile__portrait {
    margin-right: 0;
  }
}

@media all and (max-width: 700px) {
  .profile_buttons {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    gap: 8px;
  }
}

@media all and (max-width: 500px) {
  .profile {
    margin-top: 2rem;
  }

  .profile__portrait {
    width: 180px;
  }
}

.main-about__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #357b70;
  padding-bottom: 5rem;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contact-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4rem;
}

header {
  background-color: #357b70;
}

.nav_container {
  display: flex;
  flex-direction:  row;
  justify-content: space-between;
  margin: 1rem;
}

.nav_items_left {
  padding: 1rem;
  color: white;
}

.nav_items_right {
  display: flex;
  flex-direction: row;
}

.nav_items {
  padding-left: 1rem;
  padding-bottom: 0;
}

.nav_items_right :hover {
  cursor: pointer;
}

.nav_items a {
  color: white;
  text-decoration: none;
}

@media all and (max-width: 700px) {
  .nav_container {
    display: flex;
    flex-direction: column;
  }
  
  .nav_items_left {
    padding-top: 0;
    padding-bottom: .5rem;
  }

  .nav_items_left {
    text-align: center;
  }

  .nav_items_right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.stack_logo {
  width: 40px;
  height: 40px
}

.stack_logo_container {
  margin-bottom: 1rem;
}

.image-container {
  position: relative;
  text-align: center;
}

.image-container:hover .grid-image {
  opacity: 0.2;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;  
  -moz-transition: opacity 0.5s ease-in-out;   
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility .5s;
  font-weight: bold;
  font-size: 18px;
}

.image-container:hover .centered{
  visibility: visible;
  opacity: 1;
  color: black;
}

.grid {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.grid__item__buttons {
  text-align: center;
  font-size: 20px;
}

.grid__item__buttons :hover{
  font-size: 22px;
}

.grid-image {
  width: 80%;
}

/* grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px 0 rgb(0 0 0 / 6%);
}

/* grid fallback */

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .grid__item {
    background-color: #f0f0f0;
    width: auto;
    min-height: auto;
    padding: 10px;
  }
}

@-webkit-keyframes color-change-sun {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change-sun {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-name: color-change-sun;
  animation-name: color-change-sun;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-name: cloud-move;
  animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-name: cloud-move-reverse;
  animation-name: cloud-move-reverse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes color-change-windows {
  from {
    fill: #67c2e2;
  }

  to {
    fill: #ffffe0;
  }
}

@keyframes color-change-windows {
  from {
    fill: #67c2e2;
  }

  to {
    fill: #ffffe0;
  }
}

.bottom-right-window-large {
  -webkit-animation: 10s color-change-windows infinite alternate linear;
  animation: 10s color-change-windows infinite alternate linear;
}

.top-right-window-small-1 {
  -webkit-animation: 5s color-change-windows infinite alternate linear;
  animation: 5s color-change-windows infinite alternate linear;
}

.middle-right-window-small-1 {
  -webkit-animation: 3s color-change-windows infinite alternate linear;
  animation: 3s color-change-windows infinite alternate linear;
}

.middle-left-window-small-1 {
  -webkit-animation: 6s color-change-windows infinite alternate linear;
  animation: 6s color-change-windows infinite alternate linear;
}

.top-left-window-large {
  -webkit-animation: 12s color-change-windows infinite alternate linear;
  animation: 12s color-change-windows infinite alternate linear;
}

@media all and (min-width: 1300px) and (max-width: 2000px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 1300px) {

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  
  .grid {
    grid-gap: 10px;
  }

  body {
    font-size: 20px;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 26px;
  }

  .berlin-illustration {
    max-width: 500px;
    max-height: 350px;
  }

  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    font-size: 22px;
  }

}

@media all and (max-width: 500px) {
  .berlin-illustration {
    max-width: 350px;
    max-height: 200px;
  }

  .stack_logo {
    width: 30px;
    height: 30px
  }

  .centered {
    display: none;
  }

  .grid__item__buttons {
    font-size: 14px;
  }

  .grid {
    width: 90%;
  }
  
  .grid__item__buttons :hover{
    font-size: 16px;
  }
  
  .grid-image {
    width: 90%;
  }

  body {
    font-size: 16px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    font-size: 17px;
  }
}
